.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-bottom-menu {
  min-height: initial !important;
  margin: 0 !important;
  border: none !important;
  height: 80px;
  width: 100%;
  background: none;
  border: none;
}

.col-half-offset {
  margin-left: 4.166666667%
}

.bottom-menu-container {
  height: 70px;
  background: white;
}

.bottom-menu-container-child {
  height: 100%;
  display: flex;
  align-items: center;
}

.item-bottom-menu {
  font-size: 25px;
  color: black;
}

.item-bottom-menu:focus, .item-bottom-menu:hover, .item-bottom-menu:active {
  color: green;
}

.item-bottom-menu-active {
  color: green;
}

.search-comment-icon {
  right: 1px;
  font-size: 20px;
}

.container-message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container-message::after {
  content: "";
  clear: both;
  display: table;
}

.container-message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-message img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.search-flash-icon {
  font-size: 20px;
}

.explore-container {
  margin-top: 65px !important;
}

.message_input_wrapper {
  margin-bottom: 70px;
}

.message_input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}

.send_message {
  margin-bottom: 70px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #319cf8;
  color: white;
}
