.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainNav .navbar-nav>li>a.active {
  color: #ffff !important;
  background-color: black;
}

.width100 {
  width: 100%;
}

.h1, h2, h3, h4, h5, h6 {
  font-family: 'Kuro', Arial, Tahoma;
  font-weight: 200;
  letter-spacing: 1px;
}
a {
  color: black;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.navBackground {
  background: gray !important;
}

.marginTopHeader {
  margin-top: 56px;
}